<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <activity
            android:name=".feature.paypal.checkout.presentation.PayPalWebActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:launchMode="singleInstance"
            android:theme="@style/SdkDialog" />

        <activity
            android:name=".feature.flypay.presentation.FlyPayWebActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:launchMode="singleInstance"
            android:theme="@style/SdkDialog" />

        <activity
            android:name=".feature.paypal.vault.presentation.PayPalVaultActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/SdkNoActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="com.paydock.paypal.vault"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
    </application>
</manifest>